@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(37, 37, 37);
}

.title {
    font-size: 3em;
    margin-left: 500px;
    text-transform: uppercase;
    letter-spacing: .4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #191723;
}

#text-and-form .hello {
    font-size: 2.3em;
}

#text-and-form .hello span {
    color: rgb(245, 245, 248);
    font-family: Impact, Charcoal, sans-serif;
}

#about {
    height: 300px;
    background-color: white;
}

#about-title {
    text-align: center;
    border-bottom: double black 3px;
    padding-bottom: 2px;
    display: inline;
    font-size: 3em;
    font-weight: 300;
    font-family: Impact, Charcoal, sans-serif;
}

.about-name {
    font-size: 2em;
    font-weight: 600;
}

#header {
    margin: 0;
    height: 50px;
    background-color: rgb(37, 37, 37);
    margin-bottom: 5px;
    box-sizing: border-box;
}

#header-main-title {
    position: relative;
    font-size: 2em;
    top: 30px;
    margin-left: 90px;
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(243, 243, 247);
}

#h4 {
    position: relative;
    font-size: 90%;
    top: 50px;
    margin-left: 50px;
    color: rgb(243, 243, 247);
}

#text-and-form {
    text-align: center;
    margin-top: 180px;
}